
<html>
@{
    ViewBag.Title = "About";
}
<head>
    <title>About Rachael</title>
</head>
<body>
    <br /><br /><br />
    <div class="row" style="background-color:lightsalmon">
        <div class="col-md-6">
            <img src="~/Content/img/about_rachael.jpg" width="300" length="300">
        </div>
        <div class="col-md-6">
            <br />
            <p align="left">
                <i>
                    <b>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Rachael Ray was born on August 25, 1968, in Glen Falls, New York, and raised in Lake George, New York,
                        surrounded by family in the restaurant business. She herself held several jobs in the food industry,
                        including opening Agata & Valentina specialty food market in New York City. It was while working in
                        a gourmet food shop in Schenectady, New York, that Ray developed her signature "30 Minute Meals"
                        classes, which were soon picked up by a local television newscast. She went on to host several Food
                        Network shows, author tons of cookbooks, launch her own magazine, and start a nationally syndicated
                        talk show, Rachael Ray, for which she won a Daytime Emmy Award.
                    </b>
                </i>
            </p>
            <p align="left">
                <i>
                    <b>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Ray is married to lawyer John Cusimano.
                        They have homes in Lake Luzerne, New York, and Manhattan's Greenwich Village.
                    </b>
                </i>
            </p>
        </div>
    </div>
</body>
</html>