@{
    ViewBag.Title = "Contact";
}
<head>
    <title>Contact</title>
</head>
<body>
    <br /><br /><br />
    <div class="row" style="background-color:lightsalmon">
        <address>
            <b>
                435 5th Ave<br />
                New York, NY 10016<br />
                United States<br />
            </b>
        </address>

        <address>
            <b>
                Phone: +1 212-683-4100<br />
                E-mail: esraguclu91@gmail.com
            </b>
        </address>
    </div>
</body>
