@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:lightsalmon">
    <center><img src="~/Content/img/homepage_rachael.jpg"></center>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="~/Content/img/rachael_show.png">
        <h2><b>Rachael Ray Show</b></h2>
        <p>
            Rachael Ray currently appears on television on her Emmy-winning daytime show "Rachael."
            For the latest episode information, recipes, videos and more
        </p>
        <p><a class="btn btn-default" href="http://www.rachaelrayshow.com/" style="background-color:wheat"><i>visit the Rachael's site</i> &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <img src="~/Content/img/rachael-ray-store.jpg" width="400" length="350">
        <h2><b>Rachael Ray Store</b></h2>
        <p>
            Rachael has developed several affordable products meant to make life a little easier.
            Whether it be her oval shaped pots that fit better on the stovetop or her "hipster" plates
            that rest nicely on your hip when walking to the table, there's something for everyone!
        </p>
        <p><a class="btn btn-default" href="http://www.rachaelraystore.com/" style="background-color:wheat"><i>visit Rachael's Store</i> &raquo;</a></p>
    </div>
</div>